.memory-graph-container {
  svg {
    background: $white-light;
  }

  path {
    fill: none;
    stroke: $blue-500;
    stroke-width: 1px;
  }

  circle {
    stroke: $blue-700;
    fill: $blue-700;
  }
}
